<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>
<%= form_tag movies_path, method: 'GET', style: 'display: inline' do %>
  <%= text_field_tag :title, nil, placeholder: "Title" %>
  <%= text_field_tag :director, nil, placeholder: "Director" %>
  <%= select_tag :duration, options_for_select(['Under 90 minutes', 'Between 90 and 120 minutes', 'Over 120 minutes'], selected: :duration ) %>
  <%= submit_tag 'Submit' %>
<% end %>
<hr>
<% @movies.each do |movie| %>
  <%= link_to image_tag(movie.image_url(:thumb)), movie_path(movie) if movie.image? %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.review_average %>/10</p>
  <p><%= movie.description %></p>
  <hr>
<% end %>
