<%= render 'shared/errors', object: @user %>
<div class="well">
  <%= bootstrap_form_for @user, url: url, method: method do |f| %>
    <%= f.email_field :email %>
    <%= f.text_field :firstname %>
    <%= f.text_field :lastname %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <% if params[:controller] == 'admin/users' %>
      <%= f.check_box :admin %>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
