<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= link_to "Back to Movie", movie_path(@movie), class: 'pull-right' %>
    <%= render 'shared/content_title', title: "Write a review for #{@movie.title}" %>
    <%= render 'shared/errors', object: @review %>
    <div class="well">
      <%= bootstrap_form_for([@movie, @review]) do |f| %>
        <%= f.text_area :text, rows: 5 %>
        <%= f.number_field :rating_out_of_ten %>
        <%= f.submit %>
      <% end %>
    </div>
  <div class="col-md-2"></div>
</div>
