<ul class="nav">
  <li>
    <%= link_to "Rotten Mamgoes", root_path, class: 'brand' %>
  </li>
</ul>

<% if current_user %>
  <div class="nav_item">
    <%= link_to 'New Movie', new_movie_path, class: 'btn btn-success btn-small' %>
  </div>
  <div class="btn-group nav_item">
    <%= link_to('', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown') do %>
      <%= current_user.firstname %>
      <span class='caret'></span>
    <% end %>
    <ul class='dropdown-menu'>
      <li>
        <%= link_to '#' do %>
          <i class='icon-pencil'></i>
          edit profile
        <% end %>
      </li>
      <li>
        <%= link_to '#' do %>
          <i class='icon-user'></i>
          view profile
        <% end %>
      </li>
      <li>
        <%= link_to logout_path do %>
          <i class='icon-circle-arrow-left'></i>
          logout
        <% end %>
      </li>
    </ul>
  </div>
<% else %>
  <div class="nav_item">
    <%= link_to 'Register', register_path, class: 'btn btn-success btn-small' %>
  </div>
  <div class="nav_item">
    <%= link_to 'Log in', login_path, class: 'btn btn-small' %>
  </div>
<% end %>
